<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-8-a-to-z.html' %}   
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
NHS.UK breast screening content transformation
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
        <div >
          <ol class="nhsuk-breadcrumb__list ">
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/home">Home</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/a-to-z">Health A to Z</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/breast-screening/topic">Breast screening (mammogram)</a></li>
          </ol>
          <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/breast-screening/topic">Breast screening (mammogram)</a></p>
        </div>
      </nav>

      <!-- Change the page title here -->
      <h1>
        <span role="text">Further help and support
          <span class="nhsuk-caption-xl nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden"> - </span>
            Breast screening (mammogram)
          </span>
        </span>
      </h1>
      <p><b>You may need more help and support with breast screening for many reasons.</b></p>
      <p>Speak to the GP surgery or call the breast screening service if you have any questions about breast screening invitations or results.</p>
      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Find breast screening services</span>
        </a>
      </div>

      <section>
        <h2>Information and support for people with a learning disability</h2>
        <ul>
          <li><a href="javascript:void(0);">GOV.UK: Breast screening: easy guide (PDF, 1.72MB)</a></li>
          <li><a href="javascript:void(0);">Macmillan Cancer Support: Breast care for women easy read booklet (PDF, 5.03MB)</a></li>
        </ul>
      </section>

      <section>
        <h2>Information and support for LGBTQ+ people</h2>
        <ul>
          <li>the<a href="javascript:void(0);">LGBT Foundation has information on breast awareness and breast cancer</a></li>
          <li><a href="javascript:void(0);">GOV.UK has information on breast screening for trans and non-binary people</a></li>
        </ul>
      </section>
      
      <section>
        <h2>Information in other formats</h2>
        <ul>
          <li><a href="javascript:void(0);">GOV.UK: Breast screening: helping women decide in English and other languages</a></li>
          <li><a href="javascript:void(0);">You Tube: breast screening British Sign Language (BSL) video</a></li>
        </ul>
      </section>

      <section>
        <h2>Information and for people at higher risk of breast cancer</h2>
        <ul>
          <li><a href="javascript:void(0);">GOV.UK: Breast screening for women with a higher risk of breast cancer</a></li>
        </ul>
      </section>

      <section>
        <h2>Information and support from the NHS Breast Screening Programme</h2>
        <p>You can contact the Public Health England Screening Helpdesk if you have any questions about breast screening practice or policy (England only) by:</p>
        <ul>
          <li>calling the helpdesk on 020 3682 0890</li>
          <li>emailing PHE.screeninghelpdesk@nhs.net</li>
        </ul>
        <p>The PHE helpdesk does not have access to medical records and is not able to provide medical advice or screening results.</p>
        <p>Speak to the GP surgery or call the breast screening service where you had the mammogram for information about your breast screening mammogram or results.</p>
      </section>

      <div class="nhsuk-review-date">
        <p class="nhsuk-body-s">
          Page last reviewed: 27 March 2018<br>
          Next review due: 27 March 2021
        </p>
      </div>
      <nav class="nhsuk-contents-list nhsuk-u-padding-top-8" role="navigation" aria-label="Pages in this guide">
        <h2 class="">More in <a href="/breast-screening">Breast screening (mammogram)</a></h2>
        <ul class="nhsuk-list app-side-nav__list">
          <li class="app-side-nav__item"><a href="breast-screening/what-is-breast-screening">What is breast screening (mammogram)?</a></li>
          <li class="app-side-nav__item"><a href="/breast-screening/why-important " title="">Why it's important</a></li>
          <li class="app-side-nav__item"><a href="/breast-screening/invitations" title="">When you'll be invited</a></li>
          <li class="app-side-nav__item"><a href="/breast-screening/book-change-appointment" title="">How to book or change an appointment</a></li>
          <li class="app-side-nav__item"><a href="/breast-screening/what-happens" title="">What happens at your appointment</a></li>
          <li class="app-side-nav__item"><a href="/breast-screening/results" title="">Your results</a></li>
          <li class="app-side-nav__item app-side-nav__item app-side-nav__item--current">Further help and support</a></li>
        </ul>
      </nav>
        </div>
    </div>

   
        <!-- Custom JavaScript files can be added to this file -->
        <!-- <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/main.js"></script> -->
    
    <!-- Add any custom scripts -->
    
        <!-- For adding page specific JavsScript -->
        
      
    
        
      
    
    </body>


    </div>
  </div>
{% endblock %}
