<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-8-a-to-z.html' %}   
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK breast screening content transformation
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
        <div >
          <ol class="nhsuk-breadcrumb__list ">
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-7/">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-7/a-to-z">Health A to Z</a></li>
          </ol>
          <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-7/a-to-z">Health A to Z</a></p>
          <div class="nhsuk-u-padding-bottom-2"></div>
        </div>
      </nav>

      <!-- Change the page title here -->
      <h1>Breast screening</h1>
      <p class="nhsuk-lede-text">Information and advice about routine breast screening and why it is important.</p>
      <section id="key-links">
        <ul class="key-links">
          <li><a href="/breast-screening/what-is-breast-screening" title="">What is breast screening (mammogram)?</a></li>
          <li><a href="/breast-screening/why-important" title="">Why it's important</a></li>
          <li><a href="/breast-screening/invitations" title="">When you'll be invited</a></li>
          <li><a href="/breast-screening/book-change-appointment" title="">How to book or change an appointment</a></li>
          <li><a href="/breast-screening/what-happens" title="">What happens at your appointment</a></li>
          <li><a href="/breast-screening/results" title="">Your results</a></li>
          <li><a href="/breast-screening/further-help" title="">Further help and support</a></li>
        </ul>
        <div class="nhsuk-u-padding-bottom-6"></div>
      </section>

    
    
       <section id="key-links" class="border-top">
            <h3 class="nhsuk-u-margin-bottom-0">Related links</h3>
        </section>

    
        </div>
    </div>

   
        <!-- Custom JavaScript files can be added to this file -->
        <!-- <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/main.js"></script> -->
    
    <!-- Add any custom scripts -->
    
        <!-- For adding page specific JavsScript -->
        
      
    
        
      
    
    </body>


    </div>
  </div>
{% endblock %}
