<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK Breast Screening Content Transformation
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        NHS.UK Breast Screening Content Transformation
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Last updated: 07/05/21</span>
      </h1>
      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="/home">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Start the breast screening prototype</span>
        </a>
      </div>

      <h2>Pages in the breast screening topic</h2>
      <ul>
        <li><a href="/breast-screening/what-is-breast-screening" title="">What is breast screening (mammogram)?</a></li>
        <li><a href="/breast-screening/why-important" title="">Why it's important</a></li>
        <li><a href="/breast-screening/invitations" title="">When you'll be invited and who should go</a></li>
        <li><a href="/breast-screening/book-change-appointment" title="">How to book or change an appointment</a></li>
        <li><a href="/breast-screening/what-happens" title="">What happens at your appointment</a></li>
        <li><a href="/breast-screening/results" title="">Your results</a></li>
        <li><a href="/breast-screening/further-help" title="">Further help and support</a></li>
      </ul>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
